:host ::ng-deep {
  .col-device .container {
    position: relative;
    display: inline-block;

    fs-trusted-current-device {
      position: absolute;
      right: -8px;
      top: -8px;
    }
  }
}

fs-device-os, fs-device-browser {
  cursor: pointer;
}
